<li class="page <%= page.css_status %>" data-id="<%= page.id %>" id="page_<%= page.id %>">
  <span class="icon <%= page.css_status %>" title="<%= page.css_status.camelize %>"><%= page.css_status.camelize %></span>
  <%= link_to page.title, edit_admin_page_path(page) %>
  <span class="controls">
    <%= link_to 'Add child', new_admin_page_page_path(page), :class => 'icon add', :title => 'Add a child page' %>
    <%= link_to 'Edit', edit_admin_page_path(page), :class => 'icon edit', :title => 'Edit this page' %>
    <%= link_to 'Destroy', [:admin, page], :confirm => 'Are you sure?', :method => :delete, :class => 'icon delete', :title => 'Delete this page (children move to parent)', :remote => true %>
    <%= link_to 'Duplicate', duplicate_admin_page_path(page), :class => 'icon duplicate', :title => 'Duplicate this page', :remote => true %>
  </span>
  <span class="permalink"><%= page.permalink %></span>
  <ul id="page_<%= page.id %>_children">
    <% unless @pages[page.id].nil? -%>
      <li data-position="before" data-id="<%= @pages[page.id].first.id %>" class="drop_line"><img src="../../images/admin/cms/bullet_go.png" height="16" width="16" /></li>
      <%= render :partial => @pages[page.id] %>
    <% else -%>
      <li data-position="child" data-id="<%= page.id %>" class="drop_line"><img src="../../images/admin/cms/bullet_add.png" height="16" width="16" /></li>
    <% end -%>
  </ul>
</li>
<li data-position="after" data-id="<%= page.id %>" class="drop_line"><img src="../../images/admin/cms/bullet_go.png" height="16" width="16" /></li>

