= f.hidden_field :_destroy, :id => "delete_#{f.object.title}"

= f.error_notification

= f.input :title, :class => 'page_part_title'
= f.input :filter, :collection => PageEngine.filters, :include_blank => false, :class => 'filter', :input_html => { :class => 'filter', :rel => "page_part_content_#{f.object.id}" }
= f.input :content, :input_html => { 'data-filter' => f.object.filter, :class => 'page_engine_editor ignore_tab', :id => "page_part_content_#{f.object.id}" }
