<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Meta description:</b>
  <%= @page.meta_description %>
</p>

<p>
  <b>Meta keywords:</b>
  <%= @page.meta_keywords %>
</p>

<p>
  <b>Status:</b>
  <%= @page.status %>
</p>

<p>
  <b>Publish from:</b>
  <%= @page.publish_from %>
</p>

<p>
  <b>Publish to:</b>
  <%= @page.publish_to %>
</p>

<p>
  <b>Parent:</b>
  <%= @page.parent_id %>
</p>

<p>
  <b>Lft:</b>
  <%= @page.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%= @page.rgt %>
</p>

<p>
  <b>Created by:</b>
  <%= @page.created_by %>
</p>

<p>
  <b>Permalink:</b>
  <%= @page.permalink %>
</p>

<p>
  <b>Url:</b>
  <%= @page.url %>
</p>

<p>
  <b>Display in menu:</b>
  <%= @page.display_in_menu %>
</p>

<p>
  <b>Display in sitemap:</b>
  <%= @page.display_in_sitemap %>
</p>

<p>
  <b>Menu css class:</b>
  <%= @page.menu_css_class %>
</p>

<p>
  <b>No link:</b>
  <%= @page.no_link %>
</p>

<p>
  <b>Controller:</b>
  <%= @page.controller %>
</p>

<p>
  <b>Action:</b>
  <%= @page.action %>
</p>

<p>
  <b>Layout:</b>
  <%= @page.layout %>
</p>

