!!! 5
%html
  %head
    %title PageEngine Admin
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags   
  %body    
  
    %ul#nav
      %li= link_to('Pages', admin_pages_path)
      %li= link_to('Page snippets', admin_page_snippets_path)
      
    #content
      = yield
