= form_for @page do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :meta_description
    = f.text_area :meta_description
  .field
    = f.label :
    = f.text_field :
  .field
    = f.label :status
    = f.text_area :status
  .field
    = f.label :publish_from
    = f.datetime_select :publish_from
  .field
    = f.label :publish_to
    = f.datetime_select :publish_to
  .field
    = f.label :authorable_type
    = f.text_field :authorable_type
  .field
    = f.label :authorable_id
    = f.text_field :authorable_id
  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :display_in_meny
    = f.check_box :display_in_meny
  .field
    = f.label :display_in_sitemap
    = f.check_box :display_in_sitemap
  .field
    = f.label :menu_css
    = f.text_field :menu_css
  .field
    = f.label :no_link
    = f.check_box :no_link
  .field
    = f.label :controller
    = f.text_field :controller
  .field
    = f.label :action
    = f.text_field :action
  .field
    = f.label :layout
    = f.text_field :layout
  .field
    = f.label :js
    = f.text_area :js
  .field
    = f.label :css
    = f.text_area :css
  .field
    = f.label :ancestry
    = f.text_field :ancestry
  .actions
    = f.submit 'Save'
