%h1 Listing pages

%table
  %tr
    %th Title
    %th Meta description
    %th 
    %th Status
    %th Publish from
    %th Publish to
    %th Authorable type
    %th Authorable
    %th Permalink
    %th Url
    %th Display in meny
    %th Display in sitemap
    %th Menu css
    %th No link
    %th Controller
    %th Action
    %th Layout
    %th Js
    %th Css
    %th Ancestry
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.title
      %td= page.meta_description
      %td= page.
      %td= page.status
      %td= page.publish_from
      %td= page.publish_to
      %td= page.authorable_type
      %td= page.authorable_id
      %td= page.permalink
      %td= page.url
      %td= page.display_in_meny
      %td= page.display_in_sitemap
      %td= page.menu_css
      %td= page.no_link
      %td= page.controller
      %td= page.action
      %td= page.layout
      %td= page.js
      %td= page.css
      %td= page.ancestry
      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
      %td= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Page', new_page_path
