= simple_form_for [:admin, @page_snippet] do |f|
  = f.error_notification
  
  .inputs
    = f.input :name
    = f.input :filter, :collection => Page.filters, :include_blank => false, :class => 'filter', :input_html => { :class => 'filter', :rel => 'page_snippet_content' }
    = f.input :content, :input_html => { :class => 'editor', 'data-filter' => @page_snippet.filter }
    
  .action
    = f.submit
