<%= form_for([:admin, @page_snippet], :html => { :id => 'page_snippet' }) do |f| %>
  <%= render 'shared/error_messages', :target => @page_snippet %>

  <div class="field name">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>  
  <div class="field filter">
    <%= f.label :filter %><br/>    
    <%= f.select :filter, Page.filters, :class => 'filter' %>
  </div>
  <div class="field editor content">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
