<h2>Page Snippets</h2>
<p><%= link_to 'New page snippet', new_admin_page_snippet_path, :class => 'icon_left add' %></p>
<table id="page_snippets">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @page_snippets.each do |page_snippet| %>
      <tr id="page_snippet_<%= page_snippet.id %>" class="<%= cycle('odd', 'even') %>">
        <td class="odd"><%= page_snippet.name %></td>
        <td class="even control"><%= link_to 'Edit', edit_admin_page_snippet_path(page_snippet), :class => 'icon edit' %></td>
        <td class="odd control"><%= link_to 'Destroy', [:admin, page_snippet], :confirm => 'Are you sure?', :method => :delete, :class => 'icon delete', :remote => true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
